---
const isDateInTheFuture = function (date: Date) {
  const currentDate = new Date();
  if (currentDate.setHours(0, 0, 0, 0) <= date.setHours(0, 0, 0, 0)) {
    return true;
  }

  return false;
};

let data = {
  title_en: undefined,
  description_en: undefined,
  title_de: undefined,
  description_de: undefined,
  show_until: undefined,
};
let showWidget = false;
try {
  const response = await fetch(
    'https://api.cosmicjs.com/v3/buckets/paddys-last-order-production/objects/6542c3c69740a41fa4a6f86a?read_key=45150TE4Jjl5IhpcDNoNzMB7JKQAGxOKupelGqOWV3W1YPYMDP&depth=1&props=metadata,'
  );
  const json = await response.json();
  if (!json.object) return;

  data = json.object.metadata;

  showWidget = !!data.show_until && isDateInTheFuture(new Date(data.show_until));
} catch (e) {
  console.log(e);
}
---

<style is:global>
  .cosmic-html a {
    text-decoration: underline;
  }
</style>

{
  showWidget && (
    <div class="max-w-7xl mx-auto m-2 p-3 rounded-r-lg border-l-4 border-amber-600 bg-slate-100 dark:bg-slate-900">
      <h2 class="text-3xl mb-4">{data.title_en}</h2>
      <div class="cosmic-html text-xl" set:html={data.description_en} />
    </div>
  )
}
